<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32178263078-bmd8uo421uri8vi23p5fd5l4ospqimk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32178263078-bmd8uo421uri8vi23p5fd5l4ospqimk4</string>
	<key>API_KEY</key>
	<string>AIzaSyCMRbny_WlVWWCX-3XCAo1Si4fqfzHKAxM</string>
	<key>GCM_SENDER_ID</key>
	<string>32178263078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.psych</string>
	<key>PROJECT_ID</key>
	<string>mealworm---sev</string>
	<key>STORAGE_BUCKET</key>
	<string>mealworm---sev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32178263078:ios:137a5de9faba94acfc02e7</string>
	<key>DATABASE_URL</key>
	<string>https://mealworm---sev.firebaseio.com</string>
</dict>
</plist>